---
layout: default
title: Iain Dunning
---

<div id="home">
  <h2>About Me</h2>
  {% capture blurb %}
  {% include blurb.md %}
  {% endcapture %}
  {{ blurb | markdownify }}
  {% img /images/homepageswamp.jpg Thanksgiving '12 in Florida %}

  <h2>Blog Posts</h2>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  {% img /images/homepageggbridge.jpg Summer '13 in San Francisco %}

</div>
