<!DOCTYPE html>
<html lang="en">
<head>
  <!-- HTML+CSS based on Skeleton: http://getskeleton.com/ -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Iain Dunning</title>
  <meta name="description" content="">
  <meta name="author" content="Iain Dunning">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    {{ content }}

    <div class="row">
      <div class="twelve columns" style="margin-top: 1%">
        <hr>
        &copy; Iain Dunning, 2015. CSS by <a href="http://getskeleton.com/">Skeleton</a>.
      </div>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
  $("#abouttoggle").click( function() { $("#aboutcontent").toggle(); return false; });
  $("#blogtoggle").click( function() { $("#blogcontent").toggle(); return false; });
  $("#researchtoggle").click( function() { $("#researchcontent").toggle(); return false; });
  $("#teachingtoggle").click( function() { $("#teachingcontent").toggle(); return false; });
  $("#softwaretoggle").click( function() { $("#softwarecontent").toggle(); return false; });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</body>
</html>
