<!DOCTYPE html>
<html lang="en">
<head>
  <!-- HTML+CSS based on Skeleton: http://getskeleton.com/ -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Iain Dunning</title>
  <meta name="description" content="">
  <meta name="author" content="Iain Dunning">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-33856541-3', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    {{ content }}

    <div class="row">
      <div class="twelve columns" style="margin-top: 1%">
        <hr>
        &copy; Iain Dunning, 2015. Base theme/CSS by <a href="http://getskeleton.com/">Skeleton</a>.
      </div>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
  $("#abouttoggle").click( function() { $("#aboutcontent").toggle(); return false; });
  $("#blogtoggle").click( function() { $("#blogcontent").toggle(); return false; });
  $("#researchtoggle").click( function() { $("#researchcontent").toggle(); return false; });
  $("#teachingtoggle").click( function() { $("#teachingcontent").toggle(); return false; });
  $("#softwaretoggle").click( function() { $("#softwarecontent").toggle(); return false; });

  $("#ijocjumptoggle").click( function() { $("#ijocjumpcontent").toggle(); return false; });
  $("#shetoggle").click( function() { $("#shecontent").toggle(); return false; });
  $("#siamjumptoggle").click( function() { $("#siamjumpcontent").toggle(); return false; });
  $("#amiotoggle").click( function() { $("#amiocontent").toggle(); return false; });
  $("#refcuttoggle").click( function() { $("#refcutcontent").toggle(); return false; });
  
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</body>
</html>
