---
layout: default
---

<div class="row">
  <div class="twelve columns" style="margin-top: 5%">
    <h1><a href="/" class="hidelink">Iain Dunning</a></h1>
    <p>
    <b>Contact</b>: 
      iaindunning at gmail, 
      <a href="https://twitter.com/iaindunning">@iaindunning</a>
    </p>
  </div>
</div>


<div class="row">
  <div class="twelve columns" style="margin-top: 1%">
    <h2>&rsaquo; {{ page.title }}</h2>
    
    <h6>First posted: {{ page.date | date: "%b %-d, %Y" }}</h6>

    {{ content }}
  </div>
</div>

